APP_NAME="Оценка производительности"
APP_ENV=production
APP_DEBUG=false
APP_URL=http://localhost

APP_KEY=

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=productivity_db

SESSION_DRIVER=database
SESSION_LIFETIME=120

CACHE_STORE=file
LOG_CHANNEL=single
LOG_LEVEL=debug

# Telegram Bot (заполни своими данными)
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=