APP_NAME="Оценка производительности"
APP_ENV=production
APP_DEBUG=false
APP_URL=http://localhost

APP_KEY=

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=productivity_db

# ВАЖНО: Замените на свои учётные данные!
DB_USERNAME=postgres
DB_PASSWORD=admin

SESSION_DRIVER=database
SESSION_LIFETIME=120

CACHE_STORE=file
LOG_CHANNEL=single
LOG_LEVEL=debug